::selection {
    background: #b3d4fc;
    text-shadow: none;
}

html {
    padding: 30px 10px;
    font-size: 11px;

    color: #737373;
    background: #f0f0f0;
}

html,
input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
}

#display canvas {
    position: absolute;
    left: 20px;
    right: 20px;
}

#snakeblur {
    z-index: 0;
}

#snake {
    z-index: 1;
}

div#display {
    width: 600px;
    height: 560px;
    padding: 20px 20px 20px;
    border: 1px solid #b3b3b3;
    margin: 0 auto;
    box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
    background: #fcfcfc;
    display: inline-block;
    position: relative;
}

div#rules {
    width: 300px;
    padding: 20px 20px 20px;
    border: 1px solid #b3b3b3;
    margin: 0 auto;
    box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
    background: #fcfcfc;
}

div#settings{
    width: 300px;
    padding: 20px 20px 20px;
    border: 1px solid #b3b3b3;
    margin: 0 auto;
    box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
    background: #fcfcfc;
}

div#rightBar {
    width: 350px;
    float:right;
    margin: 0 auto;

}
div#leftBar{
    width: 350px;
    float:left;
    margin: 0 auto;
}

div#desc {
    width: 300px;
    padding: 20px 20px 20px;
    border: 1px solid #b3b3b3;
    margin: 10px auto;
    box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
    background: #fcfcfc;
}

div#wrapper {
    width: 1345px;
    margin: auto;
}

h1 {
    margin-top: 0;
}

label {
    font-size: 13px;
    font-weight: bold;
}

#startButton {
    margin-top: 10px;
    height: 30px;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
}